body {
	background-color: #c8c8c8;
	/*border: 5px solid black;*/
	margin: 0;
/*	height: 100vh;*/
	
}

/*.corpo {
	border: 5px solid black;
	height: 100vh;
}*/

a {
	color: #000000;
	text-decoration: underline;
}

a:hover {
	color: #ffffff;
	text-decoration: none;
}

.blocotexto a {
	text-decoration: underline;
	color: grey;
}

.blocotexto a:hover {
	text-decoration: none;
}

.texto a {
	color: red;
}

.topo {
	/*margin: 5px;*/
	font-family: 'DM Mono', monospace;
	margin-top: 0px;
	/*border: 5px solid black;*/
	/*height: 100vh;*/
	width: 100%;
	/*box-sizing: border-box;*/
	font-size: 2em;
	text-transform: uppercase;
}

.topo a {
	color: black;
	text-decoration: none;
}

.topo a:hover {
	font-weight: 500;
}

.apoie {
	font-weight: 500;
}

.apoie a:hover {
	font-style: italic;
}

.grudento {
	position: fixed;
	top: 0;
	/*width: 100%;*/
	z-index: 100;
}

.navbar {
	background-color: #c8c8c8;
	padding: 10px 30px 0 30px;
	/*margin: 10px;*/
	/*border-bottom: 5px solid black;*/
	z-index: 100;

}

.menu {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: flex-end;
}

.menu li {
	padding: 0 0 0 20px;
}

.caixalogo {
	border-top: 5px solid black;
	margin: 0 10px 0 10px;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	z-index: 100;
	height: 5px;
}

.logo {
	width: 100%;
	height: auto;
	max-width: 200px;
}

.porta {
	position: fixed;
	right: 0;
	bottom: 0;
	z-index: -100;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}

.imagemfloat {
	max-height: 80vh;
	max-width: 50vw;

}

.imagemcima {
	width: auto;
	max-height: 80vh;
	max-width: 60vw;
	/*max-height: 80vh;
	max-width: 50vw;*/
}

.container {
	padding-top: 250px;
	margin: 0;
/*	display: flex;
	justify-content: space-around;
	flex-direction: column;
	flex-wrap: wrap;*/
}

.textao {
	font-family: 'Volkhov', serif;
	font-weight: 700;
	color: #ffffff;
	font-size: 6em;
	line-height: 115%;
	hyphens: manual;
	-webkit-hyphens: manual;
  	-ms-hyphens: manual;


}

.vartextao {
	font-family: 'DM Mono', monospace;
	font-weight: 700;
	color: #ffffff;
	font-size: 6em;
	line-height: 115%;
	hyphens: manual;
	-webkit-hyphens: manual;
  	-ms-hyphens: manual;
  	text-align: center;
  	text-transform: uppercase;

 
}

.blocotexto {
	margin: 20px 15px 10px 15px;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	flex-wrap: wrap;
	z-index: 50;
}

.dentro {
	max-width: 700px;
	align-self: center;
}

.titulo {
	text-align: left;
	width: 100%;
	font-family: 'DM Mono', monospace;
	color: #ffffff;
	font-weight: 700;
	font-size: 4em;
	line-height: 110%;
	z-index: 50;
	text-transform: uppercase;
	text-shadow: 4px 4px #000000;

}

.vartitulo {
	text-align: right;
	width: 100%;
	font-family: 'Volkhov', serif;
	color: #ffffff;
	font-weight: 700;
	font-size: 3em;
	line-height: 110%;
	z-index: 50;
	border-bottom: 10px solid black;
	line-height: 90%

}

.texto {
	background-color: #000000;
	color: #ffffff;
	border-top: 10px solid #000000;
	position: relative;
	top: -30px;
	padding:40px;
	font-family: 'DM Mono', monospace;
	font-size: 1.5em;
	line-height: 120%;


}

.textotitulo {
	font-weight: 700;
	/*text-decoration: underline;*/
}

.textotitulo a {


}

.quote {
	margin: 50px;
	color: grey;
	font-style: italic;
}

dt {
	font-weight: 700;
	text-decoration: underline;
	margin-top: 0.7em
}

dd {
	margin-left: 45px;
}

.imagemcorpo {
 width: 100%;
 height: auto;
}

hr {
	margin-top: 2em;
	margin-bottom: 1em;
	border: 1px solid white;
}




@media only screen and (max-width: 1100px)
	/*and (orientation: portrait) */{
		.textao{
			font-size: 9vw;
		}

		.texto {
			font-size: 4.5vw;
		}

}

@media only screen and (max-width: 1100px)
		/*and (orientation: portrait)*/{
		.logo{
			max-width: 150px;
		}

}

@media only screen and (max-width: 1100px)
		/*and (orientation: portrait)*/{
		.menu li {
			padding: 0;
		}
		.topo {
			font-size: 4vw;
			letter-spacing: -0.5px;

		}
		.navbar {
	padding: 10px 10px 0 10px; }
		.menu {
			justify-content: space-between;
		}

	.container {
		padding-top: 210px;
	}
	.caixalogo {
		border-top: 3px solid black;
	}

}